<div class="container">

 <div class="row mt-2">
  <h1 class= "admin__page-title">投稿一覧</h1>
 </div>

 <div class="row col-md-10 mt-3">

  <table class="table table-sm">

    <thead class="thead-light">
    <tr>
     <th colspan="2">ユーザ</th>
     <th colspan="4">投稿</th>
    </tr>
    </thead>

   <% @dinners.each do |dinner|%>
    <tbody>
     <tr>
      <td><%= image_tag dinner.user.get_profile_image("50x50","50x50+0+0")%></td>
      <td>
       <%= link_to admin_user_path(dinner.user_id) do %>
       <%= dinner.user.name %>
       <% end %>
      </td>
      <td><%= image_tag dinner.get_dinner_image("100x100","100x100+0+0")%></td>
      <td>
       <%= link_to admin_dinner_path(dinner.id) do %>
       <%= dinner.title %>
       <% end %>
      </td>
      <td><%= dinner.genre.name %></td>
      <td><%= l dinner.created_at%></td>
     </tr>
    </tbody>
  <% end %>

  </table>

  <div class="d-flex justify-content-center mt-2"><%= paginate @dinners %></div>

 </div>
</div>
