<div class="container">

<div class="row mt-2">
<h1 class="admin__page-title">投稿詳細</h1>
</div>

<div class="row col-md-4 mt-3">

<div class="dinner-detail">
<div class="dinner-detail__auther">
<%= image_tag @dinner.user.get_profile_image("50x50","40x40+0+0")%>
<%= link_to admin_user_path(@dinner.user.id) do %>
<%= @dinner.user.name %>
<% end %>
</div>

<div class="dinner-detail__card card-skin">
<div class="dinner-detail__card--image">
<%= image_tag @dinner.get_dinner_image("300x200","300x200+0+0")%>
</div>

<div class="dinner-detail__card--text">

<div class="dinner-detail__card--text--date">
<%= l @dinner.created_at %>
</div>

<div class="dinner-detail__card--text--title">
<strong><%= @dinner.title %></strong>
</div>

<div class="dinner-detail__card--text--sentence">
&yen;<%= @dinner.cost %>
</div>

<div class="dinner-detail__card--text--sentence">
 材料:
 <% @dinner.tags.each do |tag| %>
 <%= tag.name %>
 <% end %>
</div>

<div class="dinner-detail__card--text--sentence">
<%= @dinner.memo %>
</div>

<div class="dinner-detail__card--text--sentence">
<span><i class="fa-regular fa-heart"></i><%= @dinner.favorites.count%></span>
<span><i class="fa-regular fa-message"></i><%= @dinner.comments.count%></span>
<span><i class="fa-solid fa-book-open"></i><%= @dinner.dinner_is_posted %></span>
<span class="dinner-detail__card--text--genre"><%= @dinner.genre.name %></span>
</div>

</div>
</div>

 <div>
 <%= link_to "投稿削除", admin_dinner_path(@dinner.id), method: :delete,
     data: { confirm: "【確認】投稿を削除しますか？" },class:"btn btn-danger mt-3"%>
 </div>

<div>
 <% @dinner.comments.each do |comment| %>
 <%= image_tag comment.user.get_profile_image("50x50","40x40+0+0")%>
 <%= comment.user.name %>
 <%= comment.body %>
 <%= link_to "削除", dinner_comment_path(comment.dinner_id,comment.id),  method: :delete, data: { confirm: "【確認】投稿を削除しますか？" }, class:"btn btn-danger btn-sm" %>
 <% end %>
</div>

</div>


</div>
</div>