
<h4><strong><%= @user.name %></strong> さんのユーザステータス</h4>

<%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
<%= f.radio_button :is_deleted, :false %>
<%= f.label :is_deleted, "有効" %>
<%= f.radio_button :is_deleted, :true %>
<%= f.label :is_deleted, "利用停止" %>
<%= f.submit "更新する",class: "btn btn-sm btn-primary"%>
<% end %>

<p>退会措置</p>
<%= link_to "退会措置を行う", admin_user_path(@user.id), method: :delete, data: { confirm: "【確認】ユーザを削除しますか？" }, class: "btn btn-danger"%>