<div class="container">

<div class="row mt-2">
<h1 class="admin__page-title"><%= @user.name %>さんの会員詳細</h1>
</div>

<div class="row mt-3 d-flex">

<div class="sidebar col-md-3">
<table class="table">
  <tbody>
    <tr>
      <td><%=image_tag @user.get_profile_image("200x200","100x100+0+0") %></td>
    </tr>
    <tr>
      <td>
        ユーザID: <%= @user.id %>
      </td>
    </tr>
    <tr>
      <td>Email: <%= @user.email %></td>
    </tr>
    <tr>
      <td>ユーザ名</br>
      <%= @user.name %></td>
    </tr>
    <tr>
      <td>Favorite</br>
      <%= @user.favorite_genre_name(@user) %></td>
    </tr>
    <tr>
      <td>Introduction</br>
      <%= @user.introduction%></td>
    </tr>
    <tr>
      <td>ステータス</br>
      <% if @user.is_deleted %>
      <span class="text-danger">停止措置中</span>
      <% else %>
      <span class="text-success">有効</span>
      <% end %>
      </td>
    </tr>
    <tr>
      <td>
      <%= link_to edit_admin_user_path(@user.id) do %>
      <button><%= "利用停止・退会処置をする"%></button>
      <% end %>
      </td>
    </tr>
    </tbody>
    </table>
</div>

<div class="right-content col-md-9">
 <table class="table table-sm">
   <thead class="thead-light">
    <tr>
      <th colspan="5">投稿一覧</th>
    </tr>
   </thead>
 <% @dinners.each do |dinner|%>
 <tbody>
 <tr>
  <td><%= image_tag dinner.get_dinner_image("100x100","100x100+0+0")%></td>
  <td>
   <%= link_to admin_dinner_path(dinner.id) do %>
   <%= dinner.title %>
   <% end %>
  </td>
  <td><%= dinner.genre.name %></td>
  <td><%= l dinner.created_at%></td>
 </tr>
 </tbody>
<% end %>
</table>

<div class="d-flex justify-content-center mt-2"><%= paginate @dinners %></div>


</div>
</div>
</div>
