<% dinners.each do |dinner|%>

<div class="dinner-card">

<div class="dinner-card__auther">
<%= image_tag dinner.user.get_profile_image("50x50","40x40+0+0")%>
<%= dinner.user.name %>
</div>


<div class="dinner-card__content">
<div class="dinner-card__image">
<%= image_tag dinner.get_dinner_image("200x200","200x200+0+0")%>
</div>

<div class="dinner-card__text">

<div class="dinner-card__text--sm">
<%= link_to dinner_path(dinner.id) do %>
<%= dinner.title %>
<% end %>
</div>

<div class="dinner-card__text--sm">
&yen;<%= dinner.cost %>
</div>

<div class="dinner-index__text--lg">
<%= dinner.memo %>
</div>


<div class="dinner-card__icon">
<%= render "public/favorite_btn", dinner: dinner %>
<span><i class="fa-regular fa-message"></i><%= dinner.comments.count%></span>
<span><i class="fa-solid fa-book-open"></i><%= dinner.dinner_is_posted %></span>
<span><%= dinner.genre.name %></span>
</div>

</div>
</div>

</div>

<% end %>
