<div class="dinner-index">
 <% dinners.each do |dinner|%>

<div class="dinner-index__card card-skin">
<div class="dinner-index__card--auther">
  <%= image_tag dinner.user.get_profile_image("50x50","40x40+0+0")%>
  <%= link_to user_path(dinner.user.id) do %>
  <%= dinner.user.name %>
  <% end %>
</div>

<div class="dinner-index__card--image">
  <%= image_tag dinner.get_dinner_image("200x200","200x200+0+0")%>
</div>

<div class="dinner-index__card--text">

<div class="dinner-index__card--text--date">
  <%= l dinner.created_at %>
</div>

<div class="dinner-index__card--text--title">
  <%= link_to dinner_path(dinner.id) do %>
  <strong><%= dinner.title %></strong>
  <% end %>
</div>

<div class="dinner-index__card--text--sentence">
  &yen;<%= dinner.cost.to_s(:delimited) %>
</div>

<div class="dinner-index__card--text--sentence tag-limit">
 材料:
 <% dinner.tags.each do |tag| %>
 <%= tag.name %>
 <% end %>
</div>

<div class="dinner-index__card--text--sentence text-limit">
<%= dinner.memo %>
</div>

<div class="dinner-index__card--text--sentence" id="dinner_<%=dinner.id%>">
  <span class="favorite-btn"><%= render "public/favorite_btn", dinner: dinner %></i></span>
  <span><i class="fa-regular fa-message"></i></span><span class="comments-count"><%= dinner.comments.count%></span>
  <span><i class="fa-solid fa-book-open"></i><%= dinner.dinner_is_posted %></span></br>
  <span class="dinner-index__card--text--genre"><%= dinner.genre.name %></span>
</div>

</div>
</div>

<% end %>
</div>

<!--dinner-index memoの表示文字数制限-->
<script>

$(document).on('turbolinks:load', function() {
const applyTextLimit = () => {
  let maxLength = 10; // 上限文字数
  let textLimits = document.getElementsByClassName('text-limit');

  // HTMLCollectionから配列に変換してから処理を行う
  Array.from(textLimits).forEach((textLimit) => {
    let originalText = textLimit.innerText;
    if (originalText.length > maxLength) {
      textLimit.innerText = originalText.substr(0, maxLength) + '...';
    }
  });
}

applyTextLimit();

const applyTagLimit = () => {
  let maxTag = 10; // 上限文字数
  let tagLimits = document.getElementsByClassName('tag-limit');

  // HTMLCollectionから配列に変換してから処理を行う
  Array.from(tagLimits).forEach((tagLimit) => {
    let originalTag = tagLimit.innerText;
    if (originalTag.length > maxTag) {
      tagLimit.innerText = originalTag.substr(0, maxTag) + '...';
    }
  });
}

applyTagLimit();

});

</script>