<div>
<table class="table">
  <tbody>
    <tr>
      <td><%=image_tag user.get_profile_image("200x200","100x100+0+0") %></td>
    </tr>
    <tr>
      <td>username</br>
      <%= user.name %></td>
    </tr>
       <tr>
      <td>
        <%= link_to user_followings_path(user.id) do %>
        <%= "#{user.followings.count}" %>following
        <% end %>
      </td>
      <td>
        <%= link_to user_followers_path(user.id) do %>
        <%= "#{user.followers.count}" %>follower
        <% end %>
      </td>
    </tr>
    <tr>
      <td>favorite</br>
      <%= user.favorite_genre_name(user) %></td>
    </tr>
    <tr>
      <td>introduction</br>
      <%= user.introduction%></td>
    </tr>

  </tbody>
</table>
  <% if user == current_user %>
  <%= link_to "プロフィール編集", edit_user_path(user.id) %>
  <% else %>
  <%= render "public/follow_btn", user: user%>
  <% end %>


<%=link_to "夕食投稿一覧を見る", user_path(user.id) %>
</div>

<canvas id="genreChart"></canvas>
<canvas id="dinnerStyle"></canvas>
<script>
var ctx = document.getElementById("genreChart")
$(document).on('turbolinks:load', function() {
  var genreChart = new Chart(ctx,{
    type: 'rader',
    data: {
      labels: ['和食','洋食','中華','アジア・エスニック','その他'],
      datasets: [{
        label: 'ジャンル別投稿数',
        data: <%= user.dinners.post_dinner_genre_count %>
      }]
    },
    options: {
      scales: {
         r: {
           suggestedMin: 0,
           suggestedMax: 10,
           stepSize: 1,
           callback: function(value, index, values){
                   return  value +  '点' }
          }
     }
    }
  });
 });

</script>
