<div class="container">

<div class="row mt-2">
 <h1 class="public__page-title">Users</h1>
</div>

 <div class="row col-md-10 mt-1">
   <%= search_form_for @q do |f| %>
     <%= f.search_field :name_cont, placeholder: "ユーザ検索" %>
     <%= f.submit "検索" %>
   <% end %>
  <%= render "public/user_index", users: @users %>
  <div class="d-flex justify-content-center mt-2"><%= paginate @users %></div>
 </div>
