<div class="container">

<div class="row mt-2">
<h1 class="public__page-title">Mypage</h1>
</div>

<div class="row mt-3 d-flex">

<div class="sidebar col-md-3">
<%= render "public/user_info", user: @user  %>
</div>


<div class="right-content col-md-9">

  <div>
    <% unless @user.genre_id == nil %>
    <span><i class="fa-solid fa-check"></i>おすすめを見る</span>
    <% @recommendations.each do |recommendation| %>
    <span class="recommendation">
    <%= link_to dinner_path(recommendation.id) do %>
    <%= recommendation.title %>
    <% end %>
    </span>
    <% end %>
    <% else %>
    <p>ジャンルをお気に入り登録すると、登録ジャンルの投稿をおすすめ表示します。</p>
    <% end %>
 </div>

<!--食事記録投稿フォーム モーダル画面-->
<div class="mt-3">
  <i class="fa-solid fa-marker" id="new-btn">食事記録</i>
  <div id = "modal-mask">
  <div id ="meal-form" style="display: none;">
    <i class="fa-solid fa-square-xmark" id="close-btn"></i>
    <%= form_with model:[@user,@meal_record], url: user_meal_records_path(@user.id),local: false, method: :post do |f| %>

    <table class="d-flex justify-content-center">
      <thead>
        <tr>
          <th style="width: 70%"></th>
          <th style="width: 30%"></th>
        </tr>
      </thead>

      <tbody>
        <tr>
        <td><%= f.date_field :track_date, class: "mb-2" %></td>
        </tr>

        <tr>
          <td colspan="2">Breakfast</td>
        </tr>
        <tr>
          <td><%= f.text_field :breakfast_memo,placeholder: "メモ",class: "mr-2" %></td>
          <td>&yen;<%= f.text_field :breakfast_cost, size: 8 %></td>
        </tr>

        <tr>
          <td colspan="2">Lunch</td>
        </tr>
        <tr>
          <td><%= f.text_field :lunch_memo,placeholder: "メモ",class: "mr-2" %></td>
          <td>&yen;<%= f.text_field :lunch_cost, size: 8 %></td>
        </tr>

        <tr>
          <td colspan="2">Dinner</td>
        </tr>
        <tr>
          <td><%= f.text_field :dinner_memo,placeholder: "メモ",class: "mr-2" %></td>
          <td>&yen;<%= f.text_field :dinner_cost, size: 8 %></td>
        </tr>

        <tr>
          <td colspan="2">Snack</td>
        </tr>
        <tr>
          <td><%= f.text_field :snack_memo,placeholder: "メモ",class: "mr-2" %></td>
          <td>&yen;<%= f.text_field :snack_cost, size: 8 %></td>
        </tr>

        <tr>
          <td colspan="2">Any other</td>
        </tr>

        <tr>
          <td><%= f.text_field :something_memo,placeholder: "メモ",class:"mr-2" %></td>
          <td>&yen;<%= f.text_field :something_cost, size: 8%></td>
        </tr>

      </tbody>
    </table>
    <div class="text-right"><%= f.submit "登録", class:"btn-sm btn-outline-success mt-3 mr-2"%></div>
    <% end %>
  </div>
</div>
</div>
<!--ここまで-->

<!--食事記録カレンダー-->
<div class="mt-2">
<%= month_calendar(attribute: :track_date, events: @meal_records) do |date, meal_records| %>
  <%= date.day %>
   <% meal_records.each do |meal_record| %>
   <div>
      <i class="fa-regular fa-file-lines record-icon"></i>
      Total: &yen;<%= meal_record.daily_total_cost%>

      <!--モーダル画面-->
      <div style="display: none;" class="meal-record">
      <i class="fa-solid fa-square-xmark record-close-btn"></i>
    <table>
      <tbody>
        <tr>
        <td colspan="2"><%= l meal_record.track_date, format: :short  %></td>
        </tr>

        <tr>
          <td colspan="2">Breakfast</td>
        </tr>
        <tr>
          <td><%= meal_record.breakfast_memo %></td>
          <td>&yen;<%= meal_record.breakfast_cost %></td>
        </tr>

        <tr>
          <td colspan="2">Lunch</td>
        </tr>
        <tr>
          <td><%= meal_record.lunch_memo %></td>
          <td>&yen;<%= meal_record.lunch_cost %></td>
        </tr>

        <tr>
          <td colspan="2">Dinner</td>
        </tr>
        <tr>
          <td><%= meal_record.dinner_memo %></td>
          <td>&yen;<%= meal_record.dinner_cost %></td>
        </tr>

        <tr>
          <td colspan="2">Snack</td>
        </tr>
        <tr>
          <td><%= meal_record.snack_memo %></td>
          <td>&yen;<%= meal_record.snack_cost %></td>
        </tr>

        <tr>
          <td colspan="2">Any other</td>
        </tr>

        <tr>
          <td><%= meal_record.something_memo %></td>
          <td>&yen;<%= meal_record.something_cost %></td>
        </tr>

      </tbody>
    </table>
          <div class="text-right mt-2">
          <%= link_to "Delete", user_meal_record_path(current_user,meal_record.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger" %>
          </div>
      </div>
   </div>

<% end %>
<% end %>
</div>
<!--ここまで-->

<div class="mt-5">
  <h4>３ヶ月間の食費</h4>
<table class="table table-bordered">
  <thead>
    <tr align="center">
      <th style="width: 33%">先々月</th>
      <th style="width: 33%">先月</th>
      <th style="width: 33%">今月</th>
    </tr>
  </thead>
   <tbody>
     <tr>
     <td align="end">&yen;<%= @user.monthly_total_cost(2) %></td>
     <td align="end">&yen;<%= @user.monthly_total_cost(1) %></td>
     <td align="end">&yen;<%= @user.monthly_total_cost(0) %></td>
     </tr>
   </tbody>
</table>
</div>

</div>


<!--食事記録投稿用-->
<script>
var newBtn = document.getElementById('new-btn');
var mealForm = document.getElementById('meal-form');
var closeBtn = document.getElementById('close-btn');
var modalMask = document.getElementById('modal-mask');

newBtn.addEventListener('click', function() {
  mealForm.style.display = 'block';
  modalMask.style.display = 'block';
});

closeBtn.addEventListener('click', function() {
  mealForm.style.display = 'none';
  modalMask.style.display = 'none';
});

var recordIcons = document.getElementsByClassName('record-icon');
var mealRecords = document.getElementsByClassName('meal-record');
var recordCloseBtns = document.getElementsByClassName('record-close-btn');

for (var i = 0; i < recordIcons.length; i++) {
  recordIcons[i].addEventListener('click', openMealRecord);
}

for (var i = 0; i < recordCloseBtns.length; i++) {
  recordCloseBtns[i].addEventListener('click', hideMealRecord);
}

function openMealRecord() {
  var mealRecord = this.nextElementSibling;
  mealRecord.style.display = 'block';
}

function hideMealRecord() {
  var mealRecord = this.parentNode;
  mealRecord.style.display = 'none';
}

</script>