<div class="container">

<div class="row mt-2">
<h1 class="public__page-title">Mypage</h1>
<%= render "layouts/error", obj: @meal_record%>
</div>

<div class="row mt-3 d-flex">

<div class="sidebar col-md-3">
<%= render "public/user_info", user: @user  %>
</div>

<% unless @user.genre_id == nil %>
<% @recommendations.each do |recommendation| %>
<%= link_to dinner_path(recommendation.id) do%>
<%= recommendation.title %>
<% end %>
<% end %>
<% else %>
<p>ジャンルをお気に入り登録すると、登録ジャンルの投稿をおすすめ表示します。</p>
<% end %>

<div class="right-content col-md-9">
  <i class="fa-solid fa-marker" id="new-btn">食事記録</i>
  <div id ="meal-form" style="display: none;">
    <i class="fa-solid fa-square-xmark" id="close-btn"></i>
    <%= form_with model:[@user,@meal_record], url: user_meal_records_path(@user.id), method: :post do |f| %>
    <%= f.date_field :track_date %></br>
    <%= f.label :breakfast_memo %>
    <%= f.text_field :breakfast_memo %></br>
    <%= f.label :breakfast_cost %>
    <%= f.text_field :breakfast_cost %></br>
    <%= f.label :lunch_memo %>
    <%= f.text_field :lunch_memo %></br>
    <%= f.label :lunch_cost %>
    <%= f.text_field :lunch_cost %></br>
    <%= f.label :dinner_memo %>
    <%= f.text_field :dinner_memo %></br>
    <%= f.label :dinner_cost %>
    <%= f.text_field :dinner_cost %></br>
    <%= f.label :snack_memo %>
    <%= f.text_field :snack_memo %></br>
    <%= f.label :snack_cost %>
    <%= f.text_field :snack_cost %></br>
    <%= f.label :something_memo %>
    <%= f.text_field :something_memo %></br>
    <%= f.label :something_cost %>
    <%= f.text_field :something_cost %></br>
    <%= f.submit "登録"%>
    <% end %>
  </div>

  <!--食事記録-->
<%= month_calendar(attribute: :track_date, events: @meal_records) do |date, meal_records| %>
  <%= date %>
   <% meal_records.each do |meal_record| %>

   <div>
      <i class="fa-regular fa-file-lines record-icon"></i>
      <div style="display: none;" class="meal-record">
        <i class="fa-solid fa-square-xmark record-close-btn"></i>
        <%= meal_record.track_date%>
      </div>
   </div>

  <% end %>
<% end %>

</div>


<!--食事記録投稿用-->
<script>
var newBtn = document.getElementById('new-btn');
var mealForm = document.getElementById('meal-form');
var closeBtn = document.getElementById('close-btn');

newBtn.addEventListener('click', function() {
  mealForm.style.display = 'block';
});

closeBtn.addEventListener('click', function() {
  mealForm.style.display = 'none';
});

var recordIcons = document.getElementsByClassName('record-icon');
var mealRecords = document.getElementsByClassName('meal-record');
var recordCloseBtns = document.getElementsByClassName('record-close-btn');

for (var i = 0; i < recordIcons.length; i++) {
  recordIcons[i].addEventListener('click', openMealRecord);
}

for (var i = 0; i < recordCloseBtns.length; i++) {
  recordCloseBtns[i].addEventListener('click', hideMealRecord);
}

function openMealRecord() {
  var mealRecord = this.nextElementSibling;
  mealRecord.style.display = 'block';
}

function hideMealRecord() {
  var mealRecord = this.parentNode;
  mealRecord.style.display = 'none';
}

</script>