<header class="header">

  <div class="header__logo">
    <%=link_to "rogo", root_path %>
  </div>

  <div class="header__text">
  <%if user_signed_in?%>
  <h5>Wellcome <%= current_user.name %></h5>
  <% elsif admin_signed_in? %>
  <h5>管理者ログイン中</h5>
  <% else %>
  <% end %>
  </div>

    <ul class="header__list">
    <%if user_signed_in?%>
    <li class="header__list--li">
      <%= link_to users_path do %>
      <i class="fas fa-user-friends"></i> users
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to album_dinners_path do %>
      <i class="fa-solid fa-book-open fa-bounce"></i> アルバム
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to dinners_path do %>
      <i class="fas fa-utensils"></i> TL
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to mypage_users_path do %>
      <i class="fa-sharp fa-solid fa-user-lock"></i> Mypage
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Log out
      <% end %>
    </li class="header__list--li">

    <% elsif admin_signed_in? %>
     <li class="header__list--li">
      <%= link_to admin_users_path do %>
      会員一覧
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to admin_dinners_path do %>
      投稿一覧
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to admin_genres_path do %>
      ジャンル一覧
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to destroy_admin_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Log out
      <% end %>
    </li>

    <% else %>

    <li class="header__list--li">
      <%= link_to users_path do %>
      <i class="fas fa-user-friends"></i>users
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to album_dinners_path do %>
      <i class="fa-solid fa-book-open fa-bounce"></i> アルバム
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to dinners_path do %>
      <i class="fas fa-utensils"></i> タイムライン
      <% end %>
    </li>
    <li class="header__list--li">
      <%= link_to new_user_session_path do %>
      <i class="fas fa-sign-in-alt"></i> Log in
      <% end %>
    </li>
    <% end %>
    </ul>

</header>